<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<%= @order.inspect %>

<%= @order.errors.full_messages %>

<%= form_for @order do |f| %>
  
  <% if @order.express_token.blank? %>
    Something went wrong. Check with the Admins.
  <% else %>
    <%= f.hidden_field :express_token %>
    <p>About to complete order for $1.50.</p>
    <p>TODO Display order confirmation details</p>
  <% end %>
  <p><%= f.submit "Complete Order" %></p>
<% end %>
